{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Image Resizer</h1>
    <p class="lead">Decreasing image size by two times.</p>
</div>

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>{{ form.non_field_errors }}</p>
    <p>
        {{ form.image.errors }}
        {{ form.image }}
    </p>
    <input type="submit" value="Upload">
</form>

{% if tasks %}
    <table>
    {% for task in tasks %}        
        <tr>
            <td>
                {{ task.id }}
            </td>
            <td>
                {{ task.receive_time }}
            </td>
            <td>
                {{ task.image }}
            </td>
            <td>
                <a href="{{ task.image.url }}"><img src="{{ task.image.url }}"/></a>
            </td>
            <td>
                {% if task.converted_time %}
                {{ task.converted_time }}
                {% endif %}
            </td>
            <td>
                {% if task.resized_image %}
                <a href="{{ task.resized_image.url }}"><img src="{{ task.resized_image.url }}"/></a>
                {% endif %}
            </td>
        </tr>
    {% endfor%}
    </table>
{% endif %}

{% endblock %}
