{% extends "app/layout.html" %}

{% block scripts %}
    {% load staticfiles %}
    <script src="{% static 'app/scripts/script.js' %}"></script>
{% endblock %}

{% block content %}

<div class="jumbotron">
    <h1>Image Resizer</h1>
    <p class="lead">Decreasing image size by two times.</p>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <form action="/api/task/" method="post" enctype="multipart/form-data" id="img-upload-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_image">Add image:</label>
                <input id="id_image" name="image" required type="file" class="form-control">
            </div>
            <input type="submit" value="Upload">
        </form>
    </div>
</div>

{% verbatim  %}
<script id="taskTmpl"  type="text/template">
    <tr>
        <td>
            {{id}}
        </td>
        <td>
            {{time}}
        </td>
        <td>
            <a class="fancybox" rel="group" href="{{image}}"><img src="{{image}}" alt="" /></a>
        </td>
        <td>
            {{resized_image.time}}
        </td>
        <td>
            <a class="fancybox" rel="group" href="{{resized_image.image}}"><img src="{{resized_image.image}}" alt="" /></a>
        </td>
    </tr>
</script>
{% endverbatim %}


<div class="panel panel-default">
    <div class="panel-body">
        <table class="table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Add time</th>
                    <th>Source image (clickable)</th>
                    <th>Resize complete time</th>
                    <th>Result image (clickable)</th>
                </tr>
            </thead>
            <tbody id="tasksTBody">
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
